.header {
  width: 100%;
  background-color: #0000ff;
  color: white;
  font-size: 1.8rem;
  padding: 1rem;
  margin: 0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 3rem;
  list-style: none;
  font-size: 1ch;
  position: relative;
}

.navList li {
  padding: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.current {
  text-decoration: underline;
}

.navList li:hover {
  color: #cfcfcf;
}

.userInfo {
  font-size: 1rem;
  display: flex;
  width: 66.66%;
  align-items: center;
  justify-content: right;
}

.role {
  display: flex;
  margin-inline: 1rem;
}

.logoutButton {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}
